:root {
    --color-main: #181817;
    --color-secondary: #FFFFFF;
    --color-accent: #FF9F0E;
    --color-accent-lite: #FFAA00;
    --color-accent-hover: #FCB62A;
    --color-lite-white: #FFFAF3;
    --color-blue: #8799a5;
    --color-semi-white: #F1F3FF;
}