button {
    background-color: var(--color-accent);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    color: var(--color-secondary);
    padding: 16px 32px;
    font-size: 18px;
}

button[disabled] {
    background-color: lightgrey;
    color: gray;
}

button:hover {
    background-color: var(--color-accent-hover);
}