.care-section {
    position: relative;
    padding-top: 217px;

    background-image: url(../images/bg/care_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        gap: 20px;
    }

    &__text {
        width: 55%;
    }

    &__main-title {
        font-size: 72px;
    }

    &__text-wrapper {
        width: 500px;
    }

    &__container::after {
        content: '';
        margin-top: 5%;

        background-image: url(../images/care-dog.png);
        background-repeat: no-repeat;
        background-size: unset;
        background-position: center;

        width: 506px;
        height: 516px;
    }
}