.header {
    padding-top: 32px;

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__links {
        display: flex;
        gap: 48px;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    &__nav-right {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}