/* contact form  */
.contacts_form {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 42px 0;
    gap: 24px;
}

.input {
    width: 100%;
    position: relative;

    &__icon {
        position: absolute;
        left: 8px;
        top: 8px;
        width: 32px;
        height: 32px;
        fill: var(--color-accent);
    }

    &__text {
        padding: 8px 45px;
        width: 100%;
        height: 48px;
        border-radius: 5px;
        border: 1px solid var(--color-accent);
        background-color: transparent;

        font-size: 18px;
    }

    &__text::placeholder {
        color: var(--color-accent);
    }

    &__text:focus {
        outline: none;
    }

    &__text:focus::placeholder {
        color: black;
    }

    /* disable input */
    &__text:disabled {
        border-color: gray;
    }

    &__text:disabled::placeholder {
        color: gray;
    }

    &__label {
        display: block;
    }
}



.input:has(.input-text:disabled) .input-icon {
    fill: gray;
}