.pages-nav {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.nav-cards img {
    width: 96px;
    height: 96px;
}

.nav-cards {
    display: flex;
    gap: 24px;
}

.nav-more {
    display: flex;
    gap: 8px;
    font-size: 18px;
    font-weight: 400;
    align-items: end;
}

.nav-more .arrow {
    width: 40px;
}

.pages-nav a {
    color: var(--color-accent);
    font-weight: 600;
}

.pages-nav .link {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFBF4 100%);
    border: 1px solid #F9F9FF;
    box-shadow: 0px 4px 4px rgba(24, 24, 23, 0.05);
    border-radius: 16px;
}
