/* background decoration */
.paw {
    position: absolute;
    filter: blur(4px);
    background-repeat: no-repeat;
}

.paw1 {
    left: 92.95%;
    right: 0.32%;
    top: calc(2.12% + 25px);
    bottom: 95.37%;
}

.paw2 {
    left: 56.21%;
    right: 37.05%;
    top: calc(1.12% + 25px);
    bottom: 96.37%;
}

.paw3 {
    left: 91.11%;
    right: 2.15%;
    top: 14.56%;
    bottom: 42.93%;
}
