.review-section {
    position: relative;
    padding: 48px 0;
}

.review-section h2 {
    text-align: center;
}

/* reset slider arrow button */
.review-slider button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.slider-arrow {
    fill: var(--color-blue);
}

.slider-arrow:hover {
    fill: var(--color-accent);
}

.slider-arrow.rotate {
    transform: rotate(180deg);
}

.review-slider {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.slider-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.review-card {
    flex-basis: calc((100% - 32px) / 3);
    height: 456px;
    background: var(--color-accent-lite);
    border-radius: 24px;
    padding-top: 326px;
    color: var(--color-semi-white);
    font-size: 14px;
    transition: transform 0.3s;
}

.review-card:hover {
    transform: scale(1.05);
}

.review-card.card_1 {
    background-image: url(../images/slider/1.jpg);
}

.review-card.card_2 {
    background-image: url(../images/slider/2.jpg);
}

.review-card.card_3 {
    background-image: url(../images/slider/3.jpg);
}

.review-card .title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-secondary);
}

.review-card .bottom {
    height: 130px;
    border-radius: 0 0 24px 24px;
    background: #839AA9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
