.services-section {
    padding: 48px 0;
    height: 521px;

    background-image: url(../images/bg/service_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service-category-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
